#visualization {
    width: 600px;
    height: 400px;
    border: 1px solid lightgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;

}

#container {
    height: 400px;

}

.check {
    height: 30px;
    width: auto;
    background-color: white;
    color: black;
    padding: 5px;
    border: 0;
    padding-bottom: 40px;
    font-size: 1.25rem;
}

.check:focus {
    background-color: lightgray;
    border-bottom: 1px blue solid;
}



.timeline div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contents {
    opacity: 1;
    border-radius: 50rem;
    padding: 5px;
    display: flex;
    align-items: center;
}

.vis-item.vis-range {
    border-radius: 50rem;
}

.vis-item-overflow {
    border-radius: 50rem;
}

.vis-item.vis-range .vis-item-content {
    padding: 0;
}

img {
    width: 40px;
    height: 40px;
    margin: 3px;
}

.vis-current-time {
    display: none !important;
}

.vis-item-visible-frame {
    display: none !important;
    width: 0px;
}

#modal {
    display: none;

}

#modal-content {
    display: flex;
    flex-direction: column;
    width: 10%;
}

h3,
h2 {
    margin: 0;
}